<%- include ('./partials/header') -%>

<div class="container" id="about">
        <h1 id="n1">About Us!</h1>
        <p>Camping truly is for everyone, from your oldest family member to little campers just trekking out for the first time. Whether your plan is to relax, explore or reconnect, camping is a great place to create memories with people you love. In this website, you can list new campgrounds of your choice, explore our campgrounds and add a review.</p>
        <p>I am Anushka Chaudhuri. I've worked on this small project to implement my skills of NodeJS. Hope you all like it.</p>
        <img id="#aboutpic" src="img_carpediem.jfif" class="img-thumbnail" style="width:22%; margin-top: 4%;">
    </div>
</div>

<%- include ('./partials/footer') -%>