<%- include ('./partials/header') %>

<div class="wrap">
    <div class="html">
        <div id="form">
            <h1 id="n">Welcome back!</h1>
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button class="btn-block" id="sign">SIGN IN</button>
                </div>  
                <hr>
                <p id="sign1">Not registered?</p>
            </form>
            <a href="/register"><button id="sign">SIGN UP HERE!</button></a>
        </div>
    </div>
</div>

<%- include ('./partials/footer') %>
